.promo {
  padding-top: 50px;

  background: url("../img/bg-promo-320.jpg") no-repeat 50% / cover;
  h1 {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: $second-color;
  }
  &__descr {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: $main-color;
  }

  &__subtitle {
    margin-top: 30px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__download {
    margin-top: 400px;
  }
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 60px;
  &__subtitle {
    margin-top: 15px;
  }
}

// * Media requests

@media (min-width: 481px) {
  .promo {
    background-image: url("../img/bg-promo-768.jpg");
  }
}

@media (min-width: 993px) {
  .promo {
    background-image: url("../img/bg-promo-1200.jpg");
  }
}
